html {
  height: 100%;
  width: 100%;
  background-color: #fff7d6;
}
html {
  height: 100%;
  width: 100%;
}

h1 {
  color: pink;
}

h2 {
  font-family: "Roboto Slab", "Rockwell", "Courier Bold", serif;
  color: #87CEEB;
}